* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none
    }
    ul {
        list-style: none
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    min-width: 320px;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: rgba(255, 107, 26, 1);
    --primary-color-text-btm: rgba(255, 255, 255, 1);
    --primary-color-content-text: rgba(255, 255, 255, 0.9);
    --nav-footer-bg-color: rgba(26, 26, 26, 1);
    --container-cards: rgba(245, 245, 245, 1);
    --card-bg-color: rgba(255, 255, 255, 1);
    --card-title-color: rgba(0, 0, 0, 1);
    --card-text-color: rgba(102, 102, 102, 1);
}


/* header */
.header {
    height: 130px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_and_title {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-color-text-btm);
    &:before {
        content: '';
        background: url(../assets/images/logo.svg) no-repeat;
        width: 26px;
        height: 25px;
        position: absolute;
        top: 2px;
        left: 0;
    }
    .header_title {
        font-family: "Inter", sans-serif;
        font-size: 24px;
        margin-bottom: 8px;
    }
    min-width: 295px;
}

.header_text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.2px;
    word-spacing: 1px;
    color: var(--primary-color-content-text);
}

/* navigation menu  */
.nav_box {
    position: relative;
    height: 71px;
    background-color: var(--nav-footer-bg-color);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 13px;
}

.main_menu {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    opacity: .95;
    display: none;
    width: 50%;
    height: 300px;
    background-color: var(--nav-footer-bg-color);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 0;
    overflow: hidden;
    transform: translateX(0%);
    transition: .5s all;
}
.main_menu .menu_button {
        background-color: var(--nav-footer-bg-color);
        border: solid 1px var(--primary-color);
        justify-content: center;
        padding: 0;
        &:hover {
            background-color: var(--primary-color);
        }
    }

#menu_toggle:checked ~ .main_menu {
    max-width: 100%;
    font-size: 16px;
}

label {
    display: block;
    width: 100px;
    height: 100%;
}
.menu_button {
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 6px;
    justify-content: left;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color-text-btm);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 19px;
    width: 103px;
    height: 37px;
    cursor: pointer;
    
}

.lines span {
    display: flex;
    flex-direction: column;
    margin: 3px;
    width: 17px;
    height: 2px;
    background-color: var(--primary-color-text-btm);
    transition: all 0.3s ease;
}

#menu_toggle {
    width: 100%;
}

#menu_toggle:checked + .menu_button span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

#menu_toggle:checked + .menu_button span:nth-child(2) {
    opacity: 0;
}

#menu_toggle:checked + .menu_button span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg); 
}

/* top of the main  */
.main_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 100%;
    height: 377px;
    background-color: rgb(0, 0, 0);
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url(../assets/images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 45%;
    opacity: .85;
}

.main_top_title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--primary-color-text-btm);
}

.main_top_content {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--primary-color-content-text);
    width: 320px;
}

/* cards */
.container_cards {
    background-color: var(--container-cards);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 160px;
}

.card {
    position: relative;
    width: 324px;
    min-height: 200px;
    background-color: var(--card-bg-color);
    border-radius: 12px;
    border-top: 4px var(--primary-color) solid;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    padding: 24px 40px 24px 24px;
    .card_logo_title {
        display: flex;
        gap: 10px;
        align-content: center;
        margin-bottom: 10px;
    }
    .card_title {
        display: inline-block;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: var(--card-title-color);
    }
    .card_text {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: var(--card-text-color);
        white-space: pre-line;
    }
}

/* footer */
.footer {
    width: 100%;
    height: 90px;
    background-color: var(--nav-footer-bg-color);
    .footer_text {
        color: var(--primary-color-text-btm);
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        line-height: 90px;
    }
}
